@{
    ViewBag.Title = "Página Principal";
}
@Html.Partial("_SearchBox", null)
<div class="container">
    <div class="page-header">
        <h2>Destaques</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="media thumbnail">
                <a href="/Anuncio/Details/1" class="pull-left">
                    <img src="/Images/anuncios/1.jpg" class="media-object" alt="Sample Image" width="128" height="96">
                </a>
                <div class="media-body">
                    <a href="/Anuncio/Details/1">
                        <h4 class="media-heading">BMW Série 3 330 Cd M Sport</h4>
                    </a>
                    <hr />
                    <p><label>Preco: </label> 10000.00 €</p>
                    <a class="btn btn-info pull-right" href="/Anuncio/Details/1" role="button">Vêr Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media thumbnail">
                <a href="/Anuncio/Details/2" class="pull-left">
                    <img src="/Images/anuncios/2.jpg" class="media-object" alt="Sample Image" width="128" height="96">
                </a>
                <div class="media-body">
                    <a href="/Anuncio/Details/2">
                        <h4 class="media-heading">Mercedes quase novo</h4>
                    </a>
                    <hr />
                    <p><label>Preco: </label> 25000.00 €</p>
                    <a class="btn btn-info pull-right" href="/Anuncio/Details/2" role="button">Vêr Detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="media thumbnail">
                <a href="/Anuncio/Details/3" class="pull-left">
                    <img src="/Images/anuncios/3.jpg" class="media-object" alt="Sample Image" width="128" height="96">
                </a>
                <div class="media-body">
                    <a href="/Anuncio/Details/3">
                        <h4 class="media-heading">Carrinha Renault</h4>
                    </a>
                    <hr />
                    <p><label>Preco: </label> 15000.00 €</p>
                    <a class="btn btn-info pull-right" href="/Anuncio/Details/3" role="button">Vêr Detalhes</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->