@{
    ViewBag.Title = "Adicionar Anuncio";
}
<div class="container">
    <form id="target" class="form-horizontal top-buffer">
        <div class="top-buffer ">
            <label class="top-buffer">Nome do Carro</label>
            <input type="text" class="form-control " placeholder="Nome">
        </div>

         <div class=" top-buffer">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="top-buffer">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="top-buffer">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="input-group">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="input-group">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="input-group">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="input-group">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="input-group">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="input-group">
            <input type="text" class="form-control"placeholder="Nome">
        </div>

         <div class="input-group">
            <input type="text" class="form-control"placeholder="Nome">
        </div>
    </form>
</div>
<!-- /container -->
