@{
    ViewBag.Title = "Detalhes do anúncio";
}
<p></p>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Título do anúncio</h3>
        </div>
        <div class="panel-body">
            <div class="container">
                <div class="pull-left advertdetails">
                    <img src="/Images/anuncios/1.jpg" class="media-object" alt="Sample Image" width="580" height="420">
                </div>
                <div>
                    <h3 >Informação sobre a viatura</h3>
                
                    <div >                    
                        <p><label>Preço:</label> 8.500</p>
                        <p><label>Negociável:</label> Não</p>
                        <p><label>Marca:</label> Renault</p>
                        <p><label>Modelo:</label> Clio</p>  
                        <p><label>Versão:</label> 1.2</p>
                        <p><label>Ano:</label> 2003</p>           
                        <p><label>Kms:</label> 120000</p>           
                        <p><label>Combustível:</label> Gasóleo</p>  
                        <p><label>Localização:</label> Lisboa</p>
                        <p><label>Anunciante:</label> Grande Stand</p>
                        <p><label>Validade:</label> 2014-12-30</p>
                               
                    </div> 
               </div>   
            </div>
            <div class="panel-heading">
                <div>
                    <form>
                        <label>Avalie o Anuncio</label>
                        <input type="radio" name="radiobtn" value="0">0
                        <input type="radio" name="radiobtn" value="1">1
                        <input type="radio" name="radiobtn"value="2">2
                        <input type="radio" name="radiobtn"value="3">3
                        <input type="radio" name="radiobtn"value="4">4
                        <input type="radio" name="radiobtn"value="5">5
                    </form>
                </div>
                <div >
                    <p><label>Rating:</label>4.5</p>
                </div>
                <div>
                    <form>
                        <p>Comentários</p>
                        <input id="textbox" type="text" placeholder="Escreva Comentário....">
                        <button type="submit" class="btn">Enviar</button>
                    </form>
                </div>
                <div class ="panel">
                    <div style="height:150px;line-height:1em;overflow:scroll;padding:1px;">
                        <ul>Comentário 1</ul>
                        <ul>Comentário 2</ul>
                        <ul>Comentário 3</ul>
                        <ul>Comentário 4</ul>
                        <ul>Comentário 5</ul>
                        <ul>Comentário 6</ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>