@{
    ViewBag.Title = "Resultados da pesquisa";
}
@Html.Partial("_SearchBox", null)
<div class="container">    
    <h2>Resultados da pesquisa:</h2>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text">Foram encontrados 100 carros</p>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <p class="navbar-text">Ordenar por</p>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Preço</a></li>
                    <li><a href="#">Ano</a></li>
                    <li><a href="#">Kms</a></li>
                </ul>
                <ul class="nav navbar-right pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <table class="table table-striped">
      <tbody>
        <tr>
          <td class="col-sm-0"><a href="/Anuncio/Details/1"><img src="/Images/anuncios/1.jpg" class="media-object" alt="Sample Image" width="64" height="48"></a></td>
          <td>
              <div class="pull-left">
                  <a href="/Anuncio/Details/1"><h4 class="media-heading">Título do anuncio</h4></a>
                  <p>Marca, modelo, versao</p>
                  <p><label>Ano: </label> 2012 <label>Kms: </label> 25.000</p>
              </div>
              <div class="pull-right">
                  24.000 €
              </div>
          </td>
        </tr>
        <tr>
          <td class="col-sm-0"><a href="/Anuncio/Details/2"><img src="/Images/anuncios/2.jpg" class="media-object" alt="Sample Image" width="64" height="48"></a></td>
          <td>
              <div class="pull-left">
                  <a href="/Anuncio/Details/1"><h4 class="media-heading">Título do anuncio</h4></a>
                  <p>Marca, modelo, versao</p>
                  <p><label>Ano: </label> 2012 <label>Kms: </label> 25.000</p>
              </div>
              <div class="pull-right">
                  24.000 €
              </div>
          </td>
        </tr>
        <tr>
          <td class="col-sm-0"><a href="/Anuncio/Details/3"><img src="/Images/anuncios/3.jpg" class="media-object" alt="Sample Image" width="64" height="48"></a></td>
          <td>
              <div class="pull-left">
                  <a href="/Anuncio/Details/1"><h4 class="media-heading">Título do anuncio</h4></a>
                  <p>Marca, modelo, versao</p>
                  <p><label>Ano: </label> 2012 <label>Kms: </label> 25.000</p>
              </div>
              <div class="pull-right">
                  24.000 €
              </div>
          </td>
        </tr>
      </tbody>
    </table>
</div> <!-- /container -->
